<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1>Car Listings</h1>
    <nav>
      <a class="active" href="./">Home</a>
      <a class="active" href="./list">List</a>
      <a class="active" href="./searchcars">Search</a>
      <a class="active" href="./predictedlist">Predicted List</a>
    </nav>

    <table>

        
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Year</th>
          <th>Mileage</th>
          <th>Additional Details</th>
          <th>Location</th>
          <th>Link</th>
          <th>Label</th>
        </tr>
    </thead>
        <%listings.forEach(function(listing){%>
            <tbody>
        <tr>
          <td><%=listing.Name %></td>
          <td><%=listing.Price %></td>
          <td><%=listing.Year %></td>
          <td><%=listing.Mileage %></td>
          <td><%=listing.AdditionalDetails %></td>
          <td><%=listing.Location %></td>
          <td>
            <a
              href="<%=listing.Link %>"
              style="color: rgb(0, 0, 0)"
              target="_blank"
              ><%=listing.Link %></a
            >
          </td>
          <td><%=listing.Label %></td>
        </tr>
        <%})%>
    </tbody>
    </table>
  </body>
</html>
